.libs/
*.o
*.lo
dexterc
dexter
.deps/
Makefile
y.tab.c
autom4te.cache/
autoscan.log
configure.scan
parser.c
scanner.c
libdexter.la
parser.h
test.log
ruby/dexter*.gem
ruby/ext/cdexter.bundle
ruby/ext/cdexter.so
ruby/ext/Makefile
ruby/ext/conftest.dSYM/
work
argp-standalone-1.3/config.log
json-c-0.7/config.log
argp-standalone-1.3/config.status
json-c-0.7/config.status
config.log
config.status