.libs/
*.o
*.lo
dexterc
dexter
.deps/
Makefile
y.tab.c
autom4te.cache/
autoscan.log
configure.scan
parser.c
scanner.c
aclocal.m4
depcomp
libtool
ltmain.sh
missing
old.build.sh
y.tab.h
Makefile.in
libdexter.la
parser.h
test.log
ruby/dexter*.gem
ruby/ext/cdexter.bundle
ruby/ext/cdexter.so
ruby/ext/Makefile
ruby/ext/conftest.dSYM/
work