.libs/
*.o
*.lo
dexterc
dexter
parsleyc
parsley
.deps/
Makefile
autom4te.cache/
autoscan.log
config.log
configure.scan
libparsley.la
test.log
ruby/parsley*.gem
ruby/ext/cparsley.bundle
ruby/ext/cparsley.so
ruby/ext/Makefile
ruby/ext/conftest.dSYM/
work
ruby/ext/mkmf.log